.transactions-page {
    background-color: #F6F6F9;
}

.transactions-page h1 {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 1.1rem;
    padding-top: 0.3rem;
}

.transaction-list {

}

.transaction-item {
    margin-bottom: 1rem;
    background-color: white;
}

.transaction-item-header {
    border-bottom: 1px solid #DADADA;
    padding: 0.3rem;
}

.transaction-id {
    font-size: 0.9rem;
    color: black;
    font-weight: bold;
    margin-bottom: 0;
}

.transaction-id a {
    color: #1AA8D0;
}

.transaction-created-date {
    font-size: 0.7rem;
    color: #757575;
    margin-bottom: 0;
}

.transaction-item-body {
    display: flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    padding: 1.5rem 0.7rem;
}

.transaction-campaign-title {
    background-color: transparent;
    color: #0a0918;
    font-weight: bold;
    -webkit-transition: color 100ms;
    transition: color 100ms;
}

.transaction-campaign-image {
    max-width: 7rem;
    max-height: 7rem;
}

.transaction-qty-string {
    color: #CCC9C9;
    font-size: 0.9rem;
}

.transaction-qty {
    font-size: 0.9rem;
    font-weight: bold;
}

.transaction-status {
    font-size: 0.7rem;
    padding: 0.1rem;
    white-space: normal;
}

.transaction-delivery {
    font-size: 0.7rem;
    padding: 0.1rem;
    white-space: normal;
}

.place-order-btn {
    background: #1AAB8A;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: 0.8rem;
    position: relative;
    height: 60px;
    font-size: 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.place-order-btn:hover {
    background: #fff;
    color: #1AAB8A;
    text-decoration: none;
}

.place-order-btn:before, .place-order-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

.place-order-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.place-order-btn:hover:before, .place-order-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.pagination {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    -webkit-justify-content: center; /* Safari */
    justify-content: center;
    -webkit-align-items: center; /* Safari */
    align-items: center;
    -webkit-align-content: center; /* Safari */
    align-content: center;
}
