/* Design page START */

/*General START*/

.campaign-design-container {
    margin-top: 30px;
}

.campaign-design-container > div {
    margin-bottom: 20px;
}

/*General END*/

/*Tools Component START*/

.tab-content {
    background-color: #F3F5F6;
    padding: 25px 15px 15px;
}

.dropzone-container {

}

.dropzone-container div {
    margin: 0 auto;
}

.dropzone-container p {
    padding: 10px;
}

.button-continue {
    margin-top: 20px;
}

/*Tools Component END*/

/*Campaign Detail START*/
.button-submit {
    float: right;
}

.campaign-detail-buttons-container {
    margin-top: 20px;
}

/*Campaign Detail END*/

/*Canvas Component START*/
.canvas-container {
    text-align: center;
    position: relative;
}

.object-surface {
    position: absolute;
}

.editor-area {
    position: relative;
    top: 3.5rem;
    left: 2.5rem;
}

.user-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20; /* User text must be above user design */
}

.user-design {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
/*Canvas Component END*/

/* Design page END */
