.App {
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    min-height: 100vh;
}

.main {
    -webkit-flex: 1;
    flex: 1;
    margin-top: 50px;
}

nav {
    background-color: #1AAB8A;
}

button {
    background-color: #1AAB8A;
    color: white;
}

.navbar-brand img {
    width: 80px;
}

.navbar-nav .active {
    color: #d4ffec !important;
}

.nav-link button:hover {
    color: #1AAB8A !important;
}

.container {
    margin-bottom: 40px;
}

.form-signin, .form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control, .form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus, .form-register .form-control:focus {
    z-index: 2;
}

.form-signin h1, .form-register h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.form-signin input, .form-register input {
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Not found page START */

.not-found {
    padding-top: 30px;
    text-align: center;
}

/* Not found page END */

/*Footer START*/
.footer {
    background-color: #292929;
    color: white;
}

.footer .container {
    margin-bottom: 0;
    padding: 20px 0;
}

.footer-wrapper {
    margin-top: 1.5rem;
}

.footer__left-column {
    font-size: 0.9rem;
}

.footer__left-column a {
    text-decoration: none;
    border-bottom: 1px dotted rgba(255,255,255,0.25);
    color: rgba(255,255,255,0.25);
}

.footer__left-column a:hover {
    border-bottom: 1px dotted rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.5);
}

.copyright {
    margin-bottom: 1rem;
    color: rgba(255,255,255,0.25);
}

.link-static-page {
    margin-bottom: 0.3rem;
}

.bo-cong-thuong {
    margin-top: 1.5rem;
}

.bo-cong-thuong img {
    width: 40%;
}

.footer__right-column {
    text-align: right;
    font-size: 0.9rem;
    color: rgba(255,255,255,0.25);
}

.social-network-container {
    margin-bottom: 1rem;
}

.social-network-container a {
    text-decoration: none;
    color: rgba(255,255,255,0.25);
}

.social-network-container a:hover {
    color: rgba(255,255,255,0.75);
}

.social-network-icon {
    font-size: 1.2rem;
    margin: 0 0.5rem;
}

.company-information p {
    margin-bottom: 0.3rem;
}
/*Footer END*/

/*Button START*/
.dz-button {
    background: #1AAB8A;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: 0.8rem;
    position: relative;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.dz-button:hover {
    background: #fff;
    color: #1AAB8A;
}

.dz-button:before, .dz-button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}

.dz-button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.dz-button:hover:before, .dz-button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.button-back {
    background: #7C7777;
    color: #fff;
}

.button-back:hover {
    background: #fff;
    color: #7C7777;
}

.button-back:before, .button-back:after {
    background: #7C7777;
}
/*Button END*/
