.App {
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    min-height: 100vh;
}

.main {
    -webkit-flex: 1;
    flex: 1;
    margin-top: 50px;
}

nav {
    background-color: #37B77B;
}

button {
    background-color: #37B77B;
    color: white;
}

.navbar-brand img {
    width: 80px;
}

.navbar-nav .active {
    color: #d4ffec !important;
}

.container {
    margin-bottom: 40px;
}

.form-signin, .form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control, .form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus, .form-register .form-control:focus {
    z-index: 2;
}

.form-signin h1, .form-register h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.form-signin input, .form-register input {
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Not found page START */

.not-found {
    padding-top: 30px;
    text-align: center;
}

/* Not found page END */

/*Footer START*/
.footer {
    background-color: #e2e2e2;
}

.footer .container {
    margin-bottom: 0;
    padding: 20px 0;
}

.social-network-container {
    text-align: right;
}

.social-network-icon {
    font-size: 16px;
    margin: 0 5px;
}

.social-network-icon a {
    text-decoration: none;
}
/*Footer END*/