/* Design page START */

/*General START*/

.campaign-design-container {
    margin-top: 30px;
}

.campaign-design-container > div {
    margin-bottom: 20px;
}

/*General END*/

/*Tools Component START*/

.tab-content {
    background-color: #F3F5F6;
    padding: 25px 15px 15px;
}

.dropzone-container {

}

.dropzone-container div {
    margin: 0 auto;
}

.dropzone-container p {
    padding: 10px;
}

.button-continue {
    margin-top: 20px;
    background-color: #1AAB8A;
}

/*Tools Component END*/

/*Campaign Detail START*/
.button-submit {
    background-color: #1AAB8A;
    float: right;
}

.campaign-detail-buttons-container {
    margin-top: 20px;
}

/*Campaign Detail END*/

/*Canvas Component START*/
.canvas-container {
    text-align: center;
    min-height: 300px;
}

/*Canvas Component END*/

/* Design page END */
