/* Design page START */

/*General START*/
.uploading-image-container {
    display: flex;
    -webkit-justify-content: center; /* Safari */
    justify-content: center;
    -webkit-align-items: center; /* Safari */
    align-items: center;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    height: 100px;
    text-align: center;
    background-color: #d9d9d9;
    margin: 20px 0;
    color: white;
    font-weight: bold;
}

.uploading-image-container .sending-image-text {
    font-size: 24px;
    margin-top: 15px;
}

.campaign-design-container {
    margin-top: 30px;
}

.campaign-design-container > div {
    margin-bottom: 20px;
}

/*General END*/

/*Tools Component START*/

.tab-content {
    background-color: #F3F5F6;
    padding: 25px 15px 15px;
}

.dropzone-container {

}

.dropzone-container div {
    margin: 0 auto;
}

.dropzone-container p {
    padding: 10px;
}

.button-continue {
    margin-top: 20px;
    background-color: #37B77B;
}

/*Tools Component END*/

/*Campaign Detail START*/
.button-submit {
    background-color: #37B77B;
    float: right;
}

.campaign-detail-buttons-container {
    margin-top: 20px;
}

/*Campaign Detail END*/

/*Canvas Component START*/
.canvas-container {
    text-align: center;
    min-height: 300px;
}

/*Canvas Component END*/

/* Design page END */
